# ----------------------------------------------------
#    ______ _     _ _       __      __             
#   |  ____(_)   | | |      \ \    / /             
#   | |__   _  __| | | ___   \ \  / /__ _ ____   __
#   |  __| | |/ _` | |/ _ \   \ \/ / _ \ '_ \ \ / /
#   | |    | | (_| | |  __/    \  /  __/ | | \ V / 
#   |_|    |_|\__,_|_|\___|     \/ \___|_| |_|\_/  
#                               Fidle pip virtual env
# ----------------------------------------------------
#
# To install your Fidle env, see https://fidle.cnrs.fr/installation
#
# Keras 3 / PyTorch version (Python 3.9.2)
# keras
# keras_cv


 --extra-index-url https://download.pytorch.org/whl/cpu
 torch
 torchvision
 torchaudio
 lightning
 tensorboard
 numpy
 Scikit-image
 Scikit-learn
 Matplotlib
 plotly
 barviz
 pyarrow
 Pandas
 Pandoc
 pyyaml
 Jupyterlab
 fidle
